<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phase2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".itemtrading.DisplayTradeOptionsActivity"/>
        <activity android:name=".traderinfo.ChangeHomecity" />
        <activity android:name=".tutorial.TutorialBrowseItemsActivity" />
        <activity android:name=".tutorial.TutorialActivity" />
        <activity android:name=".undo.UndoRemoveItem" />
        <activity android:name=".undo.UndoProposeTrade" />
        <activity android:name=".undo.UndoConfirmTrade" />
        <activity android:name=".undo.UndoAgreeTrade" />
        <activity android:name=".undo.UndoEditMeeting" />
        <activity android:name=".undo.UndoMenu" />
        <activity android:name=".undo.UndoActivity" />
        <activity android:name=".traderinfo.AddNewItemActivity" />
        <activity android:name=".itemtrading.ItemOptionsActivity" />
        <activity android:name=".itemtrading.SelectItemActivity" />
        <activity android:name=".itemtrading.EnterInfoProposeTradeActivity" />
        <activity android:name=".traderinfo.ChangeTraderPassword" />
        <activity android:name=".adminoptions.ApproveItems" />
        <activity android:name=".browsetrades.EditMeetingActivity" />
        <activity android:name=".adminoptions.AllTradersMenu" />
        <activity android:name=".traderinfo.RequestAdminActivity" />
        <activity android:name=".adminoptions.RequestedUnfrozenMenu" />
        <activity android:name=".adminoptions.FlaggedAccountsMenu" />
        <activity android:name=".adminoptions.ManageFrozenAccount" />
        <activity android:name=".adminoptions.DisplayChangeLimitActivity" />
        <activity android:name=".adminoptions.ChangeLimitActivity" />
        <activity android:name=".adminoptions.ViewTradersActivity" />
        <activity android:name=".adminoptions.ChangePasswordActivity" />
        <activity android:name=".menus.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menus.TraderActivity" />
        <activity android:name=".menus.AdminActivity" />
        <activity android:name=".adminoptions.ApproveAdminActivity" />
        <activity android:name=".menus.SignupActivity" />
        <activity android:name=".browsetrades.BrowseTradesActivity" />
        <activity android:name=".browsetrades.EditTradeActivity" />
        <activity android:name=".itemtrading.BrowseItemsActivity" />
        <activity android:name=".traderinfo.EditInventoryActivity" />
        <activity android:name=".traderinfo.EditWishlistActivity" />
        <activity android:name=".traderinfo.ViewMyUserInfoActivity" />
    </application>

</manifest>