<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phase2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DisplayTradeOptionsActivity"/>
        <activity android:name=".ChangeHomecity" />
        <activity android:name=".TutorialBrowseItemsActivity" />
        <activity android:name=".TutorialActivity" />
        <activity android:name=".undo.UndoRemoveItem" />
        <activity android:name=".undo.UndoProposeTrade" />
        <activity android:name=".undo.UndoConfirmTrade" />
        <activity android:name=".undo.UndoAgreeTrade" />
        <activity android:name=".undo.UndoEditMeeting" />
        <activity android:name=".undo.UndoMenu" />
        <activity android:name=".undo.UndoActivity" />
        <activity android:name=".AddNewItemActivity" />
        <activity android:name=".ItemOptionsActivity" />
        <activity android:name=".SelectItemActivity" />
        <activity android:name=".EnterInfoProposeTradeActivity" />
        <activity android:name=".ChangeTraderPassword" />
        <activity android:name=".admin.ApproveItems" />
        <activity android:name=".EditMeetingActivity" />
        <activity android:name=".admin.AllTradersMenu" />
        <activity android:name=".RequestAdminActivity" />
        <activity android:name=".admin.RequestedUnfrozenMenu" />
        <activity android:name=".admin.FlaggedAccountsMenu" />
        <activity android:name=".admin.ManageFrozenAccount" />
        <activity android:name=".admin.DisplayChangeLimitActivity" />
        <activity android:name=".admin.ChangeLimitActivity" />
        <activity android:name=".admin.ViewTradersActivity" />
        <activity android:name=".admin.ChangePasswordActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TraderActivity" />
        <activity android:name=".admin.AdminActivity" />
        <activity android:name=".admin.ApproveAdminActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".BrowseTradesActivity" />
        <activity android:name=".EditTradeActivity" />
        <activity android:name=".BrowseItemsActivity" />
        <activity android:name=".EditInventoryActivity" />
        <activity android:name=".EditWishlistActivity" />
        <activity android:name=".ViewMyUserInfoActivity" />
    </application>

</manifest>