<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phase2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChangeTraderPassword"/>
        <activity android:name=".AllTradersMenu" />
        <activity android:name=".RequestedUnfrozenMenu" />
        <activity android:name=".FlaggedAccountsMenu" />
        <activity android:name=".ManageFrozenAccount" />
        <activity android:name=".DisplayChangeLimitActivity" />
        <activity android:name=".ChangeLimitActivity" />
        <activity android:name=".ViewTradersActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".TraderActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".ApproveAdminActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".BrowseTradesActivity"/>
    </application>

</manifest>